*{
	margin: 0px;
	padding: 0px;
}
.testColor{
    color: red;
}
[class*="flex_"]{
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
}
.flex{
	display: flex;
	width: 100%;
	/*	align-items: center;
       justify-content: center;*/

}
/* flex_1....flex_10*/
@for $i from 1 to 11 {
	.flex_#{$i}{
		flex: $i;
	}	
}

.flex_end{
	justify-content: flex-end !important;
	-webkit-justify-content: flex-end !important;
	display: -moz-box;
	display: -moz-flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}
.flex_start{
	justify-content: flex-start !important;
	-webkit-justify-content: flex-start !important;
}
.align_center{
	align-items: center;
	-webkit-align-items: center;

}
.flex_cloum{
	align-content: flex-start;
	flex-direction: column;
	display: flex;
	align-items: center;
    justify-content: flex-start;

}
.flex_row{
    flex-flow: row wrap;
	justify-content: flex-start;
	display: flex;
	align-content: center;
	flex-direction: row;
    align-items: center;
    
}


.container{
	width: 100%;
	height: 25%;
}
/**/

.container .module{
	/*margin: 5px;*/
	height: auto;
	width: 80px;
	border: 0px;
	padding: 5px;
}
.container .module img{
	width: 100%;
	height: auto;
	margin: 0px;
}
.container .module .icon{
	width: 70px;
    height: 60px;
    text-align:center;
}

.container .module img{
	width: 50px;
    height: 50px;
    align-content: center;
}

.container .font_bottom{
	width: 100%;
	height: auto;
	font:inherit;
	font-size: 10px !important;
    text-align: center;
    margin: 0px;
}
.container .testmodule{
	height: 600px;
	width: 100px;
}

.container .testmodule img{
	max-width: 100%;
	max-height: auto;
}
.container .testmodule .imgFram{
	height: 100%;
	width: 100%；
}

.testinput{
	max-width: 100px;
	overflow-x: scroll;
}
/* 修改提示框 */
.popup-body{        
    text-align: center;
}s

.container .module img{
	width: 50px;
    height: 50px;
    align-content: center;
}

.container .font_bottom{
	width: 100%;
	height: auto;
	font:inherit;
	font-size: 10px !important;
    text-align: center;
    margin: 0px;
}
.container .testmodule{
	height: 600px;
	width: 100px;
}

.container .testmodule img{
	max-width: 100%;
	max-height: auto;
}
.container .testmodule .imgFram{
	height: 100%;
	width: 100%；
}

.testinput{
	max-width: 100px;
	overflow-x: scroll;
}

.dialog{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(10,10,10,.5);

}
.dia_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(46, 9, 9, 0.068);
    -webkit-animation: fadein .1s linear;
    animation: fadein .1s ease-in;
}
.img-container{
    position: absolute;
    top: 0;
    height: 90%;
    width: 100%;
    overflow: scroll;
    bottom: 0;
    margin: auto;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    z-index: 10000;
    -webkit-animation: fadeinTwo .1s ease-in;
    animation: fadeinTwo .1s ease-in;
}
.dia_con{
    position: absolute;
    /* top: 50%;
    left: 50%; */
    top: 0;
    right: 20px;
    height: 400px;
    overflow: scroll;
    bottom: 0;
    left: 20px;
    margin: auto;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    z-index: 10000;
    -webkit-animation: fadeinTwo .1s ease-in;
	animation: fadeinTwo .1s ease-in;
	.button{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 30px;
		/*display: flex;*/
		/*align-items: center;*/
	}

	.detailItem{
		width: 100%;
		max-height: 350px;
		overflow: scroll;
		word-wrap: break-word;
	}

	.detailRowitem{
		width: 100%;
	   background-color: #11c1f3;
	}

	.erroLog { 
		.showLogs{
			overflow: scroll;
			height: 570px;
			width: 100%;
		}
		.detailButon{
			height: 30px;
			width: 30px;
			background-color: #00d6ff21;
		}
	}
	.query-button {
		width: 100%;
		height: 30px;
		color: white;
		background-color: #11c1f3;
		border: none;
	  }
}
.space-line{
	padding-top: 15px;
	border-top: 1px solid #11c1f3;
}